<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"></head>

    <body>

        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div class="container mx-auto m-5 mt-0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Foto perfil</th>
                        <th scope="col">ID usuario</th>
                        <th scope="col">Nombre Usuario</th>
                        <th scope="col">Sueldo Mensual</th>
                        <th scope="col">Noticias</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${periodistas}">
                    <tr>
                        <td class="profile-image-container overflow-hidden " style="width: 100px; height: 100px;">
                            <a><img class="profile-image img-fluid" th:if="${usuario.imagen != null}" th:src="@{/imagen/perfil/__${usuario.id}__}" style="width: 100px; height: 100px;"></a>
                        </td>
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.nombreUsuario}"></td>
                        <td th:text="${usuario.sueldoMensual}"></td>

                        <td>
                            <ul class="list-unstyled"> 
                                <li th:each="noticia : ${usuario.misNoticias}">
                                    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                       th:href="@{/noticia/__${noticia.id}__}" th:text="${noticia.titulo}"></a>
                                </li>
                            </ul>
                        </td>

                <td> 
                    <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                       th:href= "@{/admin/modificar/__${usuario.id}__}">Modificar</a><br/>
                       <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                          th:if="${usuario.activo}" th:href= "@{/admin/estadoPeriodista/__${usuario.id}__}">Desactivar</a>
                       <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           th:unless="${usuario.activo}" th:href= "@{/admin/estadoPeriodista/__${usuario.id}__}">Dar alta</a>
  
                </td>
                </tr>

                </tbody>
            </table>
        </div>


    </body>
</html>
