<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace= "/fragments/head :: head"></head>

    <body class="bg-warning">
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <!-- codigo de registro -->
        <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">Registrar periodista</h1>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form th:action="@{/admin/registro}" method="POST">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="floatingInput" name="nombreUsuario" th:value="${nombreUsuario}" placeholder="nombre de usuario">
                                <label for="floatingInput">Nombre de usuario</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="floatingPassword" name="password" th:value="${password}"  placeholder="contraseña">
                                <label for="floatingPassword">Contraseña</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="floatingPassword" name="password2" placeholder="Repetir contraseña" th:value="${password2}">
                                <label for="floatingPassword">Repetir contraseña</label>
                            </div>
                            <div  class="alert alert-danger" role="alert" th:if="${error != null}" >
                                <h5> Error </h5>
                                <p th:text="${error}"></p>
                            </div>  
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="floatingInput" name="sueldoMensual" th:value="${sueldoMensual}" placeholder="Sueldo">
                                <label for="floatingInput">Sueldo</label>
                            </div>
                            <div class="alert alert-success" role="alert" th:if="${exito != null}" >
                                <h5> Exito! </h5>
                                <p th:text="${exito}"></p>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Registrar</button>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
